<?xml version='1.0' encoding='utf-8'?>
<widget id="co.uk.jaguarlandroverassessment" version="0.0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JLR Assessment</name>
    <description>
        A simple Assessment tool for JLR.
    </description>
    <author email="ramil.saavedra@gmail.com.com" href="http://phonegap.com">
        Ramil Saavedra FreeLancer
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#FFFFFF"/>
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreenDelay" value="0"/>
    <!--<preference name="SplashMaintainAspectRatio" value="true" />-->
    <plugin name="cordova-plugin-battery-status" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-camera" source="npm" spec="&gt;1.0.0" />-->
    <!--<plugin name="cordova-plugin-media-capture" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-console" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-contacts" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-device" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-device-motion" source="npm" spec="&gt;1.0.0" />-->
    <!--<plugin name="cordova-plugin-device-orientation" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-dialogs" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-file" source="npm" spec="&gt;1.0.0" />-->
    <!--<plugin name="cordova-plugin-file-transfer" source="npm" spec="&gt;1.0.0" />-->
    <!--<plugin name="cordova-plugin-geolocation" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-globalization" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-media" source="npm" spec="&gt;1.0.0" />-->
    <!--<plugin name="cordova-plugin-network-information" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="&gt;1.0.0" />
    <!--<plugin name="cordova-plugin-vibration" source="npm" spec="&gt;1.0.0" />-->
    <plugin name="cordova-plugin-whitelist" source="npm" spec="&gt;1.0.0" />
    
<!--    <preference name="SplashScreenWidth" value="300" />  defaults to "170" 
    <preference name="SplashScreenHeight" value="300" />  defaults to "200" -->
    
    <platform name="android">
        <icon platform="android" src="images/icon.png"/>
        <splash platform="android" src="images/icon.png" width="300" height="300" />
    </platform>
    <platform name="ios">
        <icon platform="ios" src="images/icon.png"/>
        <splash platform="ios" src="images/icon.png" width="300" height="300"/>
        <preference name="FadeSplashScreen" value="false"/>
        <preference name="FadeSplashScreenDuration" value="0"/>
    </platform>
    <platform name="wp8">
        <icon platform="wp8" src="images/icon.png"/>
        <splash platform="wp8" src="images/icon.png" width="300" height="300"/>
    </platform>
    <platform name="windows">
        <icon platform="windows" src="images/icon.png"/>
        <splash platform="windows" src="images/icon.png" width="300" height="300"/>
    </platform>
    <access origin="*" />
    <!--<allow-intent href="http://*/*" />-->
    <!--<allow-intent href="https://*/*" />-->
    <!--<allow-intent href="tel:*" />-->
    <!--<allow-intent href="sms:*" />-->
    <allow-intent href="mailto:*" />
    <!--<allow-intent href="geo:*" />-->
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
