<section class="section">
    <div class="scrollable" style="background-color: #FFFFFF;background-image: url(images/background.jpg)">
        <div class="scrollable-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <div class="">
                                <p>
                                    <!--<a class="btn btn-primary btn-block" href="#/onlineassessment"><i class="fa fa-globe"></i> Online Assessment</a>-->
                                    <a class="" href="#/onlineassessment"><img class="img-responsive img-rounded" src="images/onlineassessment.jpg" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <div class="">
                                <p>
                                    <!--<a class="btn btn-primary btn-block" href="#/manualassessment"><i class="fa fa-calendar-check-o"></i> Manual Assessment</a>-->
                                    <a class="" href="#/manualassessment"><img class="img-responsive img-rounded" src="images/manualassessment.jpg" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <div class="">
                                <p>
                                    <!--<a class="btn btn-primary btn-block" href="#/interview">Interview</a>-->
                                    <a class="" href="#/interview"><img class="img-responsive img-rounded" src="images/Interview.jpg" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>