<section class="section container-fluid">
    <div class="scrollable" style="background-color: #FFFFFF;">
        <div class="scrollable-content">
            
            <div class="container">
                <div class="row clearfix">
                    <div class="col-sm-12 column">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/onlineassessment.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/onlineassessment">Online Assessment</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/manualassessment.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/manualassessment">Manual Assessment</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/Interview.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/interview">Interview</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>