<section class="section container-fluid" ng-controller="InterviewController as interview">
    <div  class="scrollable">
        <div class="container-fluid scrollable-content">
            <h3 class="page-header">Interview Questions</h3>
            <div class="panel-group" ui-state="myAccordion" ui-default="-1">
                <div class="panel panel-default" ng-repeat="i in interview.questions">
                    <div class="panel-heading" ui-set="{'myAccordion': i.index}">        
                        <h4 class="panel-title">
                            Question #{{i.index}}
                        </h4>
                    </div>
                    <div ui-if="myAccordion == i.index" ui-scope-context='i'>
                        <div class="panel-body">
                            <p style="text-indent: 0px;white-space: pre-wrap">{{i.questions}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>