<section class="section container-fluid" ng-controller="ManualController as manual">
  <div  class="scrollable" style="background-color: #FFFFFF">
      <div class="container-fluid scrollable-content">
          <h2 class="page-header">Manual Assessment</h2>
          <div ng-show="manual.page==1">
              <h3>Jaguar Land Rover EMC (Wolverhampton)</h3>
              <p style="text-indent: 0px;white-space: pre-wrap">
The purpose of the Manual Assessment is to determine a person’s ability to follow instructions and also assess a person’s hand-eye coordination and manual dexterity. The assessment itself is not hard if followed properly using the given instruction sheet. At first, everyone will be gathered together and be shown properly of how they want the manual assessment (car cylinder head, click on this link to view <a ng-click="manual.showCylynder()">cylinder.png</a>) to be done. It will be shown by the instructor, manually putting things together and another instructor reading out the instructions, this is to show everyone clearly what to do.

You will be given 20 minutes to complete the assessment.

You do not have to complete the exercise but it will give you better points if you do. The most important part is you follow step by step as per instruction sheet given.

Before you begin putting things together, you will be asked to measure one of the cylinder’s circumference - outside and inside, with a measuring tool, which will be placed on top of the head cylinder. Again, you will be shown how to do this.
              </p>
          </div>
          <div ng-show="manual.page==2">
              <h3>Tips</h3>
              <ul>
                  <li>
                      Ensure you’ve had a good rest the night before without any alcohol consumption so that your concentration level is not affected.
                  </li>
                  <li>
                      Be calm and relax, this is the biggest culprit on why people fail due to their increased level of anxiety. They’re thinking about the £14 per hour and all the nice lads holidays they will be going to etc. I have seen it time and time again. If you’re more relax, the less your hands are all over the place and the better your coordination will be.
                  </li>
              </ul>
So, the overall instruction will be about 20 sentences and numbered 1-20. Each one is a set of instruction. I will give simpler instruction to give you an overview so you don’t panic during the manual assessment.
<br/>
              <ul>
                  <li>
                      Take the cylinder and measure the 4 points as shown earlier and write down the reading.
                  </li>
                  <li>
                      Take the gasket, place on threads (side of head cylinder) as shown earlier, take 4 bolts and hand tighten.
                  </li>
                  <li>
                      Place the cylinder on the bay with the ‘red mark’ facing 3 o’clock. Put the cap on.
                  </li>
                  <li>
                      Take the red cylinder brackets & place on in number order with the number facing outward (towards you)
                  </li>
                  <li>
                      Get 10 screws with a white end and screw in cylinder cap and brackets finger tight.
                  </li>
                  <li>
                      Place the cylinder on the bay with the ‘yellow mark’ facing 9 o’clock. Put the cap on.
                  </li>
                  <li>
                      Take the yellow cylinder brackets & place on in number order with the number facing outward (towards you)
                  </li>
                  <li>
                      Get 10 screws with a white end and screw in cylinder cap and brackets, finger tight.
                  </li>
                  <li>
                      Take torque wrench and correct socket and tighten the bolts on cap and brackets in the order specified.
                  </li>
                  <li>
                      Take the other torque wrench provided and correct socket and turn the cylinders.
                  </li>
                  <li>
                      Turn the ‘red mark’ from 3 o’clock to 9 o’clock
                  </li>
                  <li>
                      Turn the ‘yellow mark’ from 9 o’clock to 9 o’clock
                  </li>
                  <li>
                      Using a socket wrench tighten all bolts and brackets.
                  </li>
              </ul>
The above is not the exact step by step instruction but that should give you a good overview and insight into how they would like everyone to conduct their manual assessment.

At the end of the assessment, you will be asked to either answer a question or write down 5 things that would improve procedures in terms of speed. The question they will ask is: you’ll be shown pictures of the tools you was asked to use during the manual assessment and your job is to identify them. Again, you do not have to remember everything but try your best to answer a few simple ones, such as torque wrench, socket wrench, measuring tool meter etc.
          </div>
          <div ng-show="manual.page==3">
              <h3>Jaguar Land Rover (Solihull & Castle Bromwich)</h3>
              <p style="text-indent: 0px;white-space: pre-wrap">
There are two parts to the assessment, you can't really prepare for them, but I'll give you an idea of what happens.

One of the assessments will require you to place a cushion and magnets around the shell of the car, but you've have to do it in a certain order in a certain way and you will have to remove and place them several times. The only thing I can say is keep calm, pay attention to what the instructor says. He goes through what you have to do and someone shows you as well. Just pay attention and don't let anyone distract you.

The second part is putting together a clutch pedal. Again the instructor goes through everything, all you have to do is follow what he does. Pay attention and if you don't understand ask. They give you gloves as well, they tell you to make sure they are snug fitting and they aren't lying. Wear the tightest possible as the clutch part is fiddly. In hindsight it is quite easy and the only thing that puts you back is nerves. 
              </p>
          </div>
      </div>
  </div>
  <div ng-show="manual.showCylinderImage" class="modal" >
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
<!--                <div class="modal-header">
                </div>-->
                <div class="modal-body">
                    <img class="img-responsive img-rounded" style="max-height: 50%;max-width: 50%" src="images/cylinder.png" />
                </div>
                <div class="modal-footer">
                    <button ng-click="manual.hideCylinder()" class="btn btn-primary" >Close</button>
                </div>
            </div>
        </div>
    </div>  
</section>