<section class="">
    <div class="scrollable" style="background-color: #FFFFFF;">
        <div class="scrollable-content">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-sm-12 column">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/onlineassessment.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/test/2/0?timed=false">Review Assessment 1</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/manualassessment.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/test/1/0?timed=true">Start Assessment 1</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/Interview.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/test/3/0">Start Assessment 2</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img class="img-responsive img-rounded" src="images/Interview.jpg" />
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary btn-block" href="#/test/4/0">Review Assessment 2</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>