<section class="section">
    <div class="scrollable" style="background-color: #FFFFFF;background-image: url(images/background.jpg)">
        <div class="scrollable-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail"  style="background-color:transparent;border: 0px solid #ddd">
                            <!--<img class="img-responsive img-rounded" src="images/onlineassessment.jpg" />-->
                            <div class="">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test/2/0?timed=false">Assessment 1<br>Practice mode</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <!--<img class="img-responsive img-rounded" src="images/manualassessment.jpg" />-->
                            <div class="">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test/1/0?timed=true">Assessment 1<br>Test</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <!--<img class="img-responsive img-rounded" src="images/Interview.jpg" />-->
                            <div class="">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test2/4/0?timed=false">Assessment 2<br>Practice mode</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="thumbnail" style="background-color:transparent;border: 0px solid #ddd">
                            <!--<img class="img-responsive img-rounded" src="images/Interview.jpg" />-->
                            <div class="">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test2/3/0?timed=true">Assessment 2<br>Test</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>