<section class="section">
    <div class="scrollable" style="background-color: #FFFFFF;">
        <div class="scrollable-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img class="img-responsive img-rounded" src="images/onlineassessment.jpg" />
                            <div class="caption">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test/2/0?timed=false">Assessment 1 Practice mode</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img class="img-responsive img-rounded" src="images/manualassessment.jpg" />
                            <div class="caption">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test/1/0?timed=true">Assessment 1 Test</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img class="img-responsive img-rounded" src="images/Interview.jpg" />
                            <div class="caption">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test2/4/0?timed=false">Assessment 2 Practice mode</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail">
                            <img class="img-responsive img-rounded" src="images/Interview.jpg" />
                            <div class="caption">
                                <p>
                                    <a class="btn btn-primary btn-block" href="#/test2/3/0?timed=true">Assessment 2 Test</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>