<section class="section" ng-controller="TestController as test">
    <div  class="scrollable" style="background-color: #FFFFFF;">
        <div class="container-fluid scrollable-content">
            <div ng-hide="test.showResult">
                <!--                
                <div class="row">
                    <div ng-show="test.showTimer">
                        <div class="col-xs-8">
                            <h3 class="page-header test2Question">{{test.testname}}</h3>
                        </div>
                        <div class="col-xs-4">
                            <h3 style="text-align: right" class="page-header test2Question">{{test.timedown}}</h3>
                        </div>
                    </div>
                </div>
                <div ng-hide="test.showTimer" class="row">
                    <div class="col-sm-12">
                        <h3 class="page-header test2Question">{{test.testname}}</h3>
                    </div>
                </div>
                -->
                <div class="row testtitle">
                    <div class="col-sm-12">
                        <h3 class="page-header">{{test.testname}}</h3>
                    </div>
                </div>
                <div ng-show="test.showStart" class="row">
                    <div class="col-sm-12">
                        <p class="test2Question" style="text-indent: 0px;white-space: pre-wrap;text-align: justify">{{test.description}}</p>
                        <h4 ng-show="test.timed" class="test2Question">Timed: 9.5 min</h4>
                        <h4 class="test2Question">Total Items: 29</h4>
                    </div>
                </div>
                <div ng-hide="test.showStart">
                    <div ng-show="test.showTimer" class="row">
                        <br/>
                        <div class="col-xs-8">
                            <p class="test2Question" style="text-indent: 0px;white-space: pre">Question {{test.pageid}}</p>
                        </div>
                        <div class="col-xs-3">
                            <h3 style="text-align: right" class="test2Question">{{test.timedown}}</h3>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div ng-hide="test.showTimer" class="row">
                        <br/>
                        <div class="col-sm-12">
                            <p class="test2Question" style="text-indent: 0px;white-space: pre">Question {{test.pageid}}</p>
                        </div>
                    </div>
                    <div class="row" ng-show="test.questions[test.pageid - 1].type == 'pattern'">
                        <div class="col-sm-12">
                            <p style="white-space: pre"><tt class="test2pattern" >{{test.questions[test.pageid - 1].patternquestion}}</tt></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="test2Question" style="text-indent: 0px;white-space: pre-wrap;text-align: justify">{{test.questions[test.pageid - 1].question}}</p>
                        </div>
                    </div>
                    <div class="row" ng-show="test.questions[test.pageid - 1].type == 'pattern2'">
                        <div class="col-sm-12">
                            <p style="white-space: pre"><tt class="test2pattern" >{{test.questions[test.pageid - 1].patternquestion}}</tt></p>
                        </div>
                    </div>
                    <div class="row" ng-show="test.questions[test.pageid - 1].type == 'pattern3'">
                        <div class="row">
                            <div class="col-xs-1 col-sm-2"></div>
                            <div class="col-xs-5 col-sm-4">
                                <p class="test2pattern" style="text-indent: 0px;white-space: pre">{{test.questions[test.pageid - 1].patternquestion1}}</p>
                            </div>
                            <div class="col-xs-5 col-sm-4">
                                <p class="test2pattern" style="text-indent: 0px;white-space: pre;text-align: right">{{test.questions[test.pageid - 1].patternquestion2}}</p>
                            </div>
                            <div class="col-xs-1 col-sm-2"></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form">
                                <div class="text-editor">
                                    <label class="test2Question">Answer: <input class="test2Question" type="number" value="Identical" ng-model="test.questions[test.pageid - 1].answer" name="answer"/></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-show="test.showResult">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-header test2Question">{{test.testname}}</h3> 
                    </div>
                </div>
                <div ng-show="test.showTimer" class="row">
                    <div ng-show="test.results.passed" class="col-sm-12 test2Question">
                        Congratulation you passed the test.
                    </div>
                    <div ng-hide="test.results.passed" class="col-sm-12 test2Question">
                        Sorry you failed the test. Please try again.
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-12 test2Question">
                        Your Score is:
                        <br/>
                        <h1 class="test2Question">{{test.results.correctAnswers}}/{{test.results.totalScore}}</h1>
                    </div>
                </div>
                <div ng-show="test.showTimer" class="row">
                    <div class="col-sm-12">
                        Time Elapsed:
                        <br/>
                        <h1 class="test2Question">{{test.getTimeElapsed()}}</h1>
                    </div>
                </div>
                <div ng-show="test.showTimer" class="row">
                    <div class="col-sm-12 test2Question">
                        Time Remaining:
                        <br/>
                        <h1 class="test2Question">{{test.getTimeRemaining()}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="test.timeUpModal" class="modal" >
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <!--                <div class="modal-header">
                                    <button class="close" ng-click="test.closeTimeUpModal()">&times;</button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>-->
                <div class="modal-body">
                    <p class="test2Question">Sorry Time is up!</p>
                    <br/>
                    <p class="test2Question">Please proceed to the result page.</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="test.submit()" class="btn btn-primary test2Question">Continue</button>
                </div>
            </div>
        </div>
    </div>

</section>
